# Euro Data Cube - geoDB: Getting Started (12)

The Euro Data Cube Jupyter Lab environment has all dependencies preinstalled and the necessary credentials prepared as environment variables.

To run this notebook outside of this environment please follow the setup outlined [here](././99_EDC_Setup.ipynb).

## Explore Datasets

This notebook shows how to load, delete and update geoDB collections.

In [1]:
from xcube_geodb.core.geodb import GeoDBClient

In [2]:
geodb = GeoDBClient()

In [3]:
geodb.whoami

'geodb_admin'

In [20]:
ds = geodb.get_collections()
ds

Empty DataFrame
Columns: [table_name]
Index: []

### Creating collections

Once the connection has bee4n established you will be able to create a table for datasets. The table will contain standard properties (fields). The lsit properties can be extended by the user.

In [21]:
# Have a look at fiona feature schema
collections = {
        "land_use": 
        {
            "crs": 3794,
            "properties": 
            {
                "RABA_PID": "float", 
                "RABA_ID": "float", 
                "D_OD": "date"
            }
        }
    }

# return obj implementing __repr_html__
geodb.create_collections(collections)

{'land_use': {'crs': 3794,
              'properties': {'D_OD': 'date',
                             'RABA_ID': 'float',
                             'RABA_PID': 'float'}}}

In [22]:
ds = geodb.get_collections()
ds

  table_name
0   land_use

### Loading data into a dataset

Once the table has been created, you can load data into the dataset. The example below loads a shapefile. The attributes of the shapefile correspond to the dataset's properties.

In [23]:
import geopandas
gdf = geopandas.read_file('data/sample/land_use.shp')
gdf

,RABA_PID,RABA_ID,D_OD,geometry
0,4770326.0,1410,2019-03-26,"POLYGON ((453952.629 91124.177, 453952.696 911..."
1,4770325.0,1300,2019-03-26,"POLYGON ((453810.376 91150.199, 453812.552 911..."
2,2305689.0,7000,2019-02-25,"POLYGON ((456099.635 97696.070, 456112.810 976..."
3,2305596.0,1100,2019-02-25,"POLYGON ((455929.405 97963.785, 455933.284 979..."
4,2310160.0,1100,2019-03-11,"POLYGON ((461561.512 96119.256, 461632.114 960..."
...,...,...,...,...
9822,6253989.0,1600,2019-03-08,"POLYGON ((460637.334 96865.891, 460647.927 969..."
9823,6252044.0,1600,2019-03-26,"POLYGON ((459467.868 96839.686, 459467.770 968..."
9824,6245985.0,2000,2019-04-08,"POLYGON ((459488.998 94066.248, 459498.145 940..."
9825,6245986.0,2000,2019-02-20,"POLYGON ((459676.680 94000.000, 459672.469 939..."
9826,6245987.0,2000,2019-03-11,"POLYGON ((459690.580 94042.607, 459686.872 940..."

In [24]:
geodb.insert_into_collection('land_use', gdf)

Data inserted into land_use

geodb.get_collection('land_use', query="raba_id=eq.7000")

### Delete from a Collection

In [26]:
geodb.delete_from_collection('land_use', query="raba_id=eq.7000")

Data from land_use deleted

In [29]:
geodb.get_collection('land_use', query="raba_id=eq.7000")

Empty DataFrame
Columns: [Empty Result]
Index: []

### Updating a Collection

In [30]:
geodb.get_collection('land_use', query="raba_id=eq.1300")

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,2,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((453810.376 91150.199, 453812.552 911...",4770325,1300,2019-03-26
1,10,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((456547.427 91543.640, 456544.255 915...",2318555,1300,2019-03-14
2,63,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((456201.531 98685.274, 456199.109 986...",2304287,1300,2019-02-25
3,86,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((454709.766 97354.278, 454704.878 973...",2331038,1300,2019-01-05
4,87,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((453820.737 98574.017, 453816.740 985...",2357574,1300,2019-01-16
...,...,...,...,...,...,...,...
890,9766,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((458247.583 99746.065, 458245.202 997...",6268059,1300,2019-03-04
891,9767,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((461932.283 90520.703, 461931.619 905...",6263561,1300,2019-04-01
892,9798,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((457231.170 90902.256, 457234.861 909...",6264862,1300,2019-01-05
893,9799,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((461378.845 91124.318, 461490.224 911...",6264865,1300,2019-02-21
894,9821,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((457450.306 97213.244, 457490.521 972...",6263915,1300,2019-01-05

In [31]:
geodb.update_collection('land_use', query="raba_id=eq.1300", values={'d_od': '2000-01-01'})

land_use updated

In [32]:
geodb.get_collection('land_use', query="raba_id=eq.1300")

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,10,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((456547.427 91543.640, 456544.255 915...",2318555,1300,2000-01-01
1,1540,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((461553.191 92037.359, 461555.607 920...",4643601,1300,2000-01-01
2,2,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((453810.376 91150.199, 453812.552 911...",4770325,1300,2000-01-01
3,63,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((456201.531 98685.274, 456199.109 986...",2304287,1300,2000-01-01
4,86,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((454709.766 97354.278, 454704.878 973...",2331038,1300,2000-01-01
...,...,...,...,...,...,...,...
890,9766,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((458247.583 99746.065, 458245.202 997...",6268059,1300,2000-01-01
891,9767,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((461932.283 90520.703, 461931.619 905...",6263561,1300,2000-01-01
892,9798,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((457231.170 90902.256, 457234.861 909...",6264862,1300,2000-01-01
893,9799,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((461378.845 91124.318, 461490.224 911...",6264865,1300,2000-01-01
894,9821,2020-01-31T11:08:35.241344+00:00,2020-01-31T11:09:11.84153+00:00,"POLYGON ((457450.306 97213.244, 457490.521 972...",6263915,1300,2000-01-01

### Managing Properties of a Collection

In [33]:
geodb.get_collections()

  table_name
0   land_use

In [43]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date

In [35]:
geodb.add_property('land_use', "test_prop", 'integer')

Properties added

In [36]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date
7   land_use    test_prop                   integer

In [37]:
geodb.drop_property('land_use', 'test_prop')

Properties ['test_prop'] dropped from land_use

In [38]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date

In [39]:
geodb.add_properties('land_use', properties={'test1': 'integer', 'test2': 'date'})

Properties added

In [40]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date
7   land_use        test1                   integer
8   land_use        test2                      date

In [41]:
geodb.drop_properties('land_use', properties=['test1', 'test2'])

Properties ['test1', 'test2'] dropped from land_use

In [42]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date